@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-accent: var(--secondary-accent);
  --color-highlight: var(--highlight);
  --color-map-clickable: var(--map-clickable);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-wiggly: wiggly 1s ease-in-out forwards;
  --animate-slide-right: slide-right 1s ease-in forwards;
  --animate-slide-down: slide-down 1s ease-in forwards;
  --animate-slide-left: slide-left 1s ease-in forwards;
  --animate-blur-in: blur-in 3s ease-in-out forwards;

  @keyframes blur-in {
    0% {
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
      filter: blur(10px);
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      filter: blur(0);
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
      filter: blur(10px);
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      filter: blur(0);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    65% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes wiggly {
    0%,
    50% {
      transform: rotate(50deg);
    }
    100% {
      transform: rotate(50deg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303;
    --primary: #916f0b;
    --secondary: #1C1C1C;
    --secondary-accent: #E5E5E5;
    --highlight: #800020;
    --map-clickable: #004D4D

  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
